* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/* ---------------------------------------------------------- */
:root {
    --body-color: #efefef;
    --bs-color: #efefef;
    --div-color: #fff;
    --bg-color: #1876f2;
    --text-color: #000;
}

.dark-theme {
    --body-color: #313335;
    --bs-color: #242526;
    --div-color: #0a0a0a;
    --bg-color: #242526;
    --text-color: #ecf3ff;
}

body{
    background: var(--body-color);
}

/* ----- Mobile View --------------------------------------------- */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .column {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .column {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}

/* ----- Lager View ----------------------------------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 30px;
    height: 10vh;
    background: var(--bg-color);
}
.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 6vmin;
}
.header h1 a{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
}
.back p{
    font-size: 20px;
    font-weight: 600;
}
.back a{
    cursor: pointer;
    color: var(--text-color);
}
.back a:hover{
    color: var(--div-color);
}
.container{
    display: grid;
    gap: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    min-height: 90vh;
    padding: 20px 0;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recent-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feedback{
    position: relative;
    left: 10px;
}
.card-feedback{
    display: flex;
}
.card-feedback textarea{
    background: #f2f2f2;
    width: 500px;
    height: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}
.num-count{
    display: grid;
    margin-left: 10px;
    justify-items: center;
    align-items: end;
}
.num-count .post{
    padding: 2px 5px;
    height: 70px;
    background: #1876f2;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: 0;
}
.post:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}
.num-count span{
    padding-top: 10px;
    font-weight: 500;
    color: #f00;
}
.status{
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.delivered{
    background: #8de02c;
    color: #fff;
}
.main{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.main h2{
    color: #555;
    font-weight: 800;
    text-align: center;
}
.icon {
    margin-right: 20px;
}

.footer {
    display: flex;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 20px 0px;
    font-size: 14px;
    justify-content: center;
    height: 8vh;
    align-items: center;
}